/************/
/* Classics */
/************/

.col-centered{
    float: none;
    margin: 0 auto;
}

.border{
    border: 1px solid black;
}

/*********/
/* Other */
/*********/

.img:hover img{
    opacity: 0.5;
}
.img:hover .deleteImgBtn{
    display: block;
}

.deleteImgBtn{
	/*display: none;*/
    /*top: -20px;*/
    /*position: absolute;*/
}

